<app-header imageUrl="bookmark" pageTitle="About Us" helpType="aboutus"></app-header>
<mat-card class="example-card">
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <mat-error>Your app is up and running, please click on menu items <mat-icon>menu</mat-icon> to access your CRM.</mat-error>
        <p class="middle-headline">
          A Complete Free (forever)* Solution for
          <strong>School, Online Education, HCM, CRM, Supply Chain, GL, Book Keeping, Assets Tracking, Visitor and many
            more applications.</strong>
        </p>
        <p class="bodytext">Elish ERP is a complete Mobile/desktop App to manage Students, Employee, Payroll, Customer,
          Leads, Sales/Orders and
          Help Desk/Service Calls. Elish ERP also contain moduled for eHealth LAB management and Education/Student
          and Learning Management modules.</p>
        <p class="label-hint">* free community version </p>
        <p class="middle-headline">"Why Elish ERP?"</p>
        <p class="label-error">Live Assets & Employee Location Tracking
          <mat-icon svgIcon="track_changes"></mat-icon>
          <br>GPS/Picture Employee & Visitor Attendance
          <mat-icon svgIcon="event"></mat-icon>
          <br>Payroll
          <mat-icon svgIcon="code"></mat-icon>
          <br>Complete CRM
          <mat-icon svgIcon="star"></mat-icon>
          <br>Live Inventory Management
          <mat-icon>menu</mat-icon>
        </p>
        <p class="middle-headline">No Language Barrier</p>
        <p class="label-error">This app is available in 10
          <mat-icon svgIcon="language"></mat-icon>Languages. Please let us know your preferred language.</p>
        <p class="middle-headline">
          <mat-icon svgIcon="star"></mat-icon>A complete Onelink ERP APP for Customer service, Market and Sales
          Professionals/Consultants.
        </p>
        <p class="bodytext">A complete ERP App to manage customer details, documents, Billing, finance transactions
          management system.</p>
        <p class="bodytext">
          Build ERP apps for Small, Medium and Large Organizations<br />
          Re-Write / Build new CRM GUI for existing ERP<br />
          Convert Old Software to new App/UI (Desktop & Mobile) without changing database<br />
          Migrate existing ERP to new platform<br />
          Make an App for existing Oracle, PeopleSoft, SAP, or Siebel CRM or old custom software based ERP<br />

          -> CRM App<br />
          -> HCM Employee Management App<br />
          -> Supply Chain App<br />
          -> Inventory Management App<br />
          -> Book Keeping App<br />
          -> Buy to Pay B2P App<br />
          -> Accounts Payables App<br />
          -> Accounts Receivables App<br />
          -> Vendor Management App<br />
          -> Help Desk App<br />
          -> Call Center App<br />
          -> Order Fullfillment App<br />
          -> Product Catalogue<br />
          -> Order Fullfillment App<br />
          -> Expense Management<br />
          -> Assets management<br />
          -> Warehouse Management App<br />
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
